.title {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 4rem;
  color: #f46d00;
}
h2 {
  color: #f46d00;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
p {
  font-size: 1.2rem;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

  margin-left: 3rem;
  margin-right: 3rem;
}
.character {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
  padding-left: 1rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  border: solid #f46d00 1px;
  border-radius: 5px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 350px;
  cursor: pointer;
  text-decoration: none;
}
.character:hover {
  background-color: #fff2e8;
}
.btn-place {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.btn {
  border: solid #f46d00 1px;
  border-radius: 8px;
  color: black;
  background-color: #ff821e;
  height: 3rem;
  align-self: center;
  width: 10rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #f46d00;
}
.btn-details {
  border: solid #f46d00 1px;
  border-radius: 8px;
  color: black;
  background-color: #ff821e;
  height: 2rem;
  align-content: center;
  width: 7rem;
  cursor: pointer;
}
.btn-details:hover {
  background-color: #f46d00;
}
.listTitle:hover {
  color: #f46d00;
}
.titleYear {
  display: flex;
  justify-content: space-between;
}
.crawl {
  margin-top: 2rem;
  text-align: justify;
  padding-left: 5rem;
  padding-right: 5rem;
}
